.user-wrapper {
  max-width: 600px;
  margin: 35px auto;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
}

.user-nav {
  border-bottom: 2px solid #cccccc63;
  overflow: hidden;
  box-shadow: 0 1px 3px rgb(146 146 146 / 14%);
}

.user-nav a.active {
  border-bottom: 2px solid #ffc8b2;
}

.user-nav a {
  width: 50%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  padding: 5px 10px;
  border-bottom: 2px solid transparent;
  color: #e3b29e;
}

.user-nav a:hover {
  width: 50%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  padding: 5px 10px;
  border-bottom: 2px solid #ffc8b2;
  color: #e3b29e;
}

.user-wrapper form {
  padding: 15px;
}
.form-group {
  margin-bottom: 1rem;
}

.form-group .btn-pink {
  color: #fff;
  background-color: #ffc1a8;
  border-color: #ffc1a8;
  border-radius: 0.35rem;
}

.form-group .btn-pink:hover {
  color: #fff;
  background-color: #d3a591;
  border-color: #d3a591;
}
