.wrapper {
  display: inline-block;
  margin-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 35px;
  padding-top: 0px;
  width: 100%;
}

.table-striped ul li {
  list-style: none;
  padding-bottom: 10px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff0e5 !important;
}

.card-content {
  border: none !important;
  padding: 35px;
  border-radius: 0.5rem !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-top {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  display: flex;
}

.card-top .button-add {
  margin-left: auto;
  white-space: nowrap;
}

.button-add a,
.button-add button {
  font-size: 14.5px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 5px;
}

.table-striped tr {
  text-align: center;
}

.card-top .title h2 {
  margin-bottom: 0;
}

.listCategory .col-md-6 {
  padding: 0;
}

.listCategory .col-md-6 table {
  padding: 0;
}

.listCategory .col-md-6 table th {
  border-top: none;
}

.listCategory .card-top {
  margin: 0px;
}

.imgProduct .col-md-3 {
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 10px;
}

.descrip-pro p {
  margin-bottom: 0;
}

.list-product .prd-name {
  cursor: pointer;
}

.list-product .prd-name:hover {
  color: #650404;
}

.list-product .prd-image img {
  cursor: pointer;
  width: 50%;
}

.list-product .prd-image img:hover {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 19%);
}
