.wrapper {
  display: inline-block;
  margin-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 35px;
  padding-top: 0px;
  width: 100%;
}

.table-striped ul li {
  list-style: none;
  padding-bottom: 10px;
}

.listProduct .open {
  display: table-row !important;
}

.listProduct .productDetail {
  display: none;
}

.productDetail p {
  margin-bottom: 0;
}

.productDetail .imgProduct {
  width: 50%;
  float: right;
}

.productDetail .imgProduct {
  width: 50%;
  float: right;
  padding: 5px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(255 132 0 / 5%) !important;
}

.card-content {
  border: none !important;
  padding: 35px;
  border-radius: 0.5rem !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-top {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  display: flex;
}

.card-top .button-add {
  margin-left: auto;
  white-space: nowrap;
}

.button-add a,
.button-add button {
  font-size: 14.5px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 5px;
}

.table-striped tr {
  text-align: center;
}

.card-top .title h2 {
  margin-bottom: 0;
}

.listCategory .col-md-6 {
  padding: 0;
}

.listCategory .col-md-6 table {
  padding: 0;
}

.listCategory .col-md-6 table th {
  border-top: none;
}

.listCategory .card-top {
  margin: 0px;
}
