#sidebar {
  width: 245px;
  height: 100%;
  position: fixed;
  background: rgb(17, 17, 17);
  box-shadow: 0px 1px 20px;
}

ul.sidebar-menu {
  margin-top: 85px !important;
}

ul.sidebar-menu,
ul.sidebar-menu li ul.sub {
  margin: -2px 0 0;
  padding: 0;
}

.main-admin,
.main-admin .row,
.main-admin .col-md-2 {
  margin: 0 !important;
  padding: 0 !important;
}

.main-admin {
  background-color: #fafafa;
  height: 754.4px;
}

#sidebar .centered {
  text-align: center;
}

#sidebar h6 {
  color: #f2f2f2;
  font-weight: 900;
  margin-bottom: 15px;
}

#sidebar .centered img {
  border-radius: 50%;
}

#sidebar ul li {
  position: relative;
}

#sidebar ul.sidebar-menu li a,
#sidebar ul.sidebar-menu li button {
  color: #ffae90;
  text-decoration: none;
  display: block;
  padding: 15px 0 15px 35px;
  font-size: 12px;
  outline: none;
  transition: all 0.3s ease;
  border: none;
  background-color: inherit;
}

#sidebar ul.sidebar-menu li {
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#sidebar ul.sidebar-menu li a span,
#sidebar ul.sidebar-menu li button span {
  display: inline-block;
  font-size: 13.5px;
  padding-left: 10px;
  font-weight: 500;
}

#sidebar ul.sidebar-menu li svg {
  font-size: 14.5px;
  margin-top: -5px;
}

#sidebar .sub-menu > .sub li {
  padding-left: 42px;
}

#sidebar ul.sidebar-menu li ul.sub li a {
  font-size: 12px;
  padding: 0;
  line-height: 35px;
  height: 35px;
  transition: all 0.3s ease;
  color: #df977c;
}

ul.sidebar-menu li ul.sub {
  display: none;
}

ul.sidebar-menu li ul.open {
  display: block;
}
