.blk-pview-img {
  margin-bottom: 20px;
  padding: 0 !important;
}

.blk-pview-img .item {
  padding: 0 5px;
  width: 120px;
}

.blk-pview-img .item img {
  object-fit: cover;
  max-height: 120px;
  cursor: pointer;
  border: 1px solid transparent;
}

.blk-pview-img .owl-carousel {
  padding: 0 45px;
}

#js-pview-uri {
  max-height: 540px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  transition: all 0.4s;
}
