.mini-shopping-cart__bottom .btn-pink {
  color: #fff;
  background-color: #ffb698;
  border-color: #ffb698;
  border-radius: 0.35rem;
}

.mini-shopping-cart__bottom .btn-pink:hover {
  color: #fff;
  background-color: #ffa582;
  border-color: #ffa582;
}

.mini-shopping-cart {
  position: absolute;
  top: 39px;
  right: -12px;
  width: 320px;
  background: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  border: 1px solid #e2e4ec;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 22%);
  z-index: -100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.mini-list-product {
  max-height: 230px;
  overflow-y: auto;
}

.shopping-cart-item {
  position: relative;
  padding: 12px 16px;
  height: auto;
  border-bottom: 1px solid #f3f4f6;
  align-items: center;
  float: none;
  width: 100%;
}

.mini-shopping-cart .mini-shopping-cart__bottom {
  background-color: #f8f8fa;
  padding: 12px 16px 16px;
  border-top: 1px solid rgba(46, 48, 56, 0.1);
}

.mini-shopping-cart .shopping-cart__bottom-total {
  margin-bottom: 10px;
}

.mini-shopping-cart .shopping-cart-total-amount {
  font-weight: 900;
  color: #c60400;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 0.5rem 1.5rem;
  font-size: 1rem !important;
}

.count-cart .mini-shopping-cart.open {
  z-index: 150;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: all 0.2s ease-in-out;
}

.shopping-cart-item .item-image {
  width: 88px;
  height: 88px;
  text-align: center;
  margin-bottom: 0;
}

.shopping-cart-item .item-image img {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.shopping-cart-item .item-content .item-title a {
  color: #000;
}

.shopping-cart-item .item-content .item-title a:hover {
  color: rgb(255, 181, 112) !important;
}

.shopping-cart-item .item-content {
  flex: 1;
  padding-right: 15px;
  padding-left: 15px;
  text-align: left;
}

.shopping-cart-item .item-content .item-title {
  margin: 0;
  font-size: 15px;
  color: #464850;
  font-weight: 600;
  line-height: 1.2em;
  overflow: hidden;
}

.shopping-cart-item .item-content .item-price {
  margin-top: 3px;
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #c60400;
  text-decoration: none;
}

.shopping-cart-item .js-remove-item {
  text-align: center;
  cursor: pointer;
  font-size: 19px;
  opacity: 0;
  transition: all 0.3s;
}

.shopping-cart-item .js-remove-item {
  text-align: right;
  font-size: 14.5px;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.3s;
  color: #000;
}

.shopping-cart-item .js-remove-item:hover {
  color: #c60400;
  opacity: 1;
}

.mini-shopping-cart .mini-shopping-cart__empty-message {
  font-size: 16px;
  font-weight: 600;
  color: #464850;
  margin: auto;
  padding: 15px;
}
