.blk-policy {
  border-top: 2px solid #b7b7b7;
  padding-top: 15px;
  margin-top: 15px;
  display: inline-block;
}
.full {
  width: 100%;
}

.blk-policy .item[data-label="shipping"] {
  background: url(../../../../assets/images/icon_ship.png) left center no-repeat;
  flex: 0 0 40%;
  max-width: 40%;
  padding-right: 15px;
}

.blk-policy .item[data-label="cod"] {
  background: url(../../../../assets/images/icon_cod.png) left center no-repeat;
  flex: 0 0 30%;
  max-width: 30%;
  padding-right: 15px;
}

.blk-policy .item[data-label="24h"] {
  background: url(../../../../assets/images/icon_doi\ tra.png) left center
    no-repeat;
  flex: 0 0 30%;
  max-width: 30%;
}

.blk-policy .item {
  margin-top: 0;
  padding: 0 0 0 35px;
  line-height: 1.3;
  font-size: 16px;
  font-weight: bold;
}

.br-t-0 {
  border-top: none !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.blk-policy .item[data-label="ship_policy"] {
  display: block !important;
  background: url(../../../../assets/images/icon_policy.png) left center
    no-repeat;
  font-size: 16px;
  color: #1d2129;
}
