footer.footer {
  padding: 0;
}

.main-footer {
  padding: 20px 0;
}

.bottom-footer {
  position: relative;
}

.footer-content ul {
  margin-bottom: 15px;
  padding: 0;
  list-style-type: none;
}

.footer-content ul li {
  display: block;
  line-height: 28px;
  position: relative;
}

.footer h4 {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #d78d6e;
  margin: 0 0 10px;
  position: relative;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-content ul li a {
  position: relative;
  overflow: hidden;
  color: #000;
}

.footer-contact ul > li {
  padding: 0;
  background-size: 15px 15px !important;
  line-height: 30px;
  font-size: 14px;
}

.footer-contact ul > li svg {
  font-size: 18px;
}

.footer-contact ul li span {
  font-weight: 600;
  color: #000;
}

.footer-contact ul p {
  display: inline-block;
  margin: 0 0 10px;
  line-height: 18px;
}

.footer-content .wrapper-home-newsletter {
  padding: 0;
}

div.wrapper-home-newsletter {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #263238;
  margin: 0 0 10px;
  position: relative;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
}

.footer-content .wrapper-home-newsletter .content-newsletter {
  max-width: inherit;
}
.content-newsletter {
  margin: auto;
}

.content-newsletter p {
  font-size: 13px;
  line-height: 16px;
  margin: 0 auto 20px;
}

.content-newsletter form .form-group {
  position: relative;
}

.content-newsletter input {
  width: 100%;
  font-size: 14px;
  color: #999;
  padding: 0 10px;
  box-shadow: none;
  outline: none !important;
  transition: initial;
  height: 40px;
  line-height: 25px;
  font-weight: 300;
}

.content-newsletter button {
  background: #ffb698;
  color: #fff;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  border: 1px solid transparent;
  width: 80px;
  height: 40px;
  border-radius: 0 4px 4px 0;
}

.content-newsletter button span {
  font-size: 12.5px;
  color: #fff;
  font-weight: bold;
}

.footer-static-content .fb_iframe_widget > span {
  width: 100% !important;
}

.fb_iframe_widget span {
  text-align: justify;
}

.wrapper-home-service {
  margin-top: 25px;
  padding: 30px 0 10px;
  background: #ffb698;
  margin-bottom: 0;
  overflow: hidden;
}

.service-box {
  text-align: center;
  margin-bottom: 15px;
}

.service-box .icon {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  width: 55px;
  height: 55px;
  font-size: 0;
  line-height: 55px;
  text-align: center;
  text-decoration: none;
}

.f-end {
  padding: 5px;
  text-align: center;
  background-color: #ffb698;
}

.f-end span {
  color: #000;
  font-size: 13px;
}

.service-box .icon img {
  position: relative;
  z-index: 9;
  width: 30px;
}

.service-box h3 {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.service-box p {
  color: #000;
  margin-bottom: 0;
  font-size: 13px;
}

.service-box .icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 100px;
  background-color: #1f2027;
  transition: all 0.4s;
}
