.user-wrapper {
  max-width: 600px;
  margin: 35px auto;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
}

.user-nav a.active {
  border-bottom: 2px solid #ffbfa4;
}

.user-nav a {
  width: 50%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  padding: 5px 10px;
  border-bottom: 2px solid transparent;
  color: #ffa582;
}

.user-nav a:hover {
  width: 50%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  padding: 5px 10px;
  border-bottom: 2px solid #ffcab4;
  color: #ffa582;
}
.user-wrapper {
  max-width: 600px;
  margin: 35px auto;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
}

.user-nav {
  border-bottom: 2px solid #cccccc63;
  overflow: hidden;
  box-shadow: 0 1px 3px rgb(146 146 146 / 14%);
}

.user-wrapper #formAcount {
  padding: 20px;
}

.form-group {
  margin-bottom: 1rem;
}

#formAcount input {
  font-size: 15px;
  width: 100%;
  clear: both;
  padding: 8px 12px;
  border: 1px solid #ccc;
}

.user-foot {
  font-size: 17px;
}

.text-center {
  text-align: center !important;
}

.user-foot .btn-pink {
  color: #fff;
  background-color: #ffb292;
  border-color: #ffb292;
  border-radius: 0.35rem;
}

.user-foot .btn-pink:hover {
  color: #fff;
  background-color: #ffa582;
  border-color: #ffa582;
}

.full {
  width: 100%;
}
.text-uppercase {
  text-transform: uppercase !important;
}

.loginFb {
  width: 100%;
  border-radius: 3px;
  background: #2e4b88;
  display: inline-block;
  font-weight: normal;
  margin-top: 20px;
}

.user-foot a {
  padding: 8px 0;
  display: block;
  font-size: 14px;
}

.user-foot a:hover {
  color: #fff;
}

.loginFb a,
.loginGg a {
  color: #fff;
}

.loginGg {
  width: 100%;
  background: #ea4235;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  margin-top: 10px;
}

#passwordHelpBlock {
  font-size: 13px;
  color: #d93e3e;
  font-weight: bold;
}
