header a {
  text-decoration: none;
}

.header-top {
  padding: 5px 0;
  background: #ffb698;
}

.text-right {
  text-align: right !important;
}

.header-top p {
  display: inline-block;
  margin: 0;
}

.header-top a {
  font-size: 13px;
  color: #820034;
  padding: 0 15px;
  display: inline-block;
  font-weight: 900;
}

.header-top a:hover {
  color: #820034 !important;
}

.header-content .logo img {
  max-width: 100%;
  max-height: 220px;
}

.js-menu-logo {
  top: 10px;
  left: 15px;
  margin-top: 25px;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.form-search .input-group {
  border: 2px solid #ffb698;
  border-radius: 8px;
  overflow: hidden;
}

.input-group-btn .btn-pink {
  color: #fff;
  background-color: #ffb698;
}

.input-group-btn .btn-pink:hover {
  color: #fff;
  background-color: #ffa582;
}

.form-search .btn {
  border: none;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
  padding: 0.3rem 0.82rem;
}

.head-col-center {
  padding: 28px 0 15px;
}

.research {
  margin-top: 3px;
}

.research p {
  display: inline-block;
  margin-bottom: 0;
}

.research a {
  color: #000;
  font-size: 15px;
  padding: 0 5px;
  display: inline-block;
}

.sty-none ul,
.sty-none ol {
  padding-left: 0;
}
.sty-none ul,
.sty-none ol,
.sty-none li {
  list-style: none;
  margin-bottom: 0;
}
.header-user {
  padding-top: 10px;
  padding-right: 15px;
}

.header-user li {
  font-weight: bold;
  display: inline-block;
}

.header-user #logout {
  border: none;
  background: inherit;
  display: inline-block;
  padding-right: 5px;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
}

.header-right {
  height: 100%;
  align-items: center !important;
  padding-bottom: 16px;
}

.header-user li a {
  display: inline-block;
  padding: 0 5px;
  color: #333;
  font-size: 16px;
}

.header-user li a:hover {
  color: #ffb698;
}

.count-cart {
  margin-top: 5px;
  position: static;
  display: block;
}

.count-cart-icon {
  width: 20px;
  height: 29px;
  background: url("../../../../assets/images/cart_icon.png") center center
    no-repeat;
  background-size: 100%;
  position: relative;
  cursor: pointer;
  margin-top: 1px;
}

.count-cart-icon .count {
  position: absolute;
  right: -18px;
  top: -5px;
  width: 23px;
  height: 23px;
  background: #e56266;
  border-radius: 50%;
  color: #fff;
  font-weight: 900;
  font-size: 12px;
}

.research a:hover {
  color: rgb(255, 181, 112) !important;
}

.header-user li:last-child a {
  padding-left: 0 !important;
}
